* {
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif, monospace;
    box-sizing: border-box;
    transition: 200ms;
    scroll-behavior: smooth;
}

body {
    background-color: #fdffff;
}

@font-face {
    font-family: poppins;
    src: url('./font/Poppins-Light.ttf');
    font-weight: normal;
}

@font-face {
    font-family: poppins;
    src: url('./font/Poppins-Regular.ttf');
    font-weight: bold;
}

[data-msg] {
    opacity: 1;
    transition: 500ms;
}

[data-msg].hide {
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
}

.hover {
    transition: 500ms;
}

.hover:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px 1.5px gray !important;
}

.background {
    background-image: url('../img/beautiful-luxury-outdoor-swimming-pool-hotel-resort.jpg');
    background-position: center;
    filter: brightness(80%);
}
